beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7


Flask==3.0.3
pandas==2.2.2
plotly==5.21.0


greek-accentuation==1.2.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0







python-dateutil==2.9.0.post0
pytz==2024.1
pyuca==1.2
requests==2.31.0
scipy==1.12.0
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.2
